<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Vehicle</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<h1>Add New Vehicle</h1>

<form action="/vehicles" method="POST">
    <input type="text" name="vehicleName" placeholder="Vehicle Name" required><br>
    <input type="text" name="price" placeholder="Price" required><br>
    <input type="text" name="image" placeholder="Image URL" required><br>
    <input type="text" name="desc" placeholder="Description" required><br>
    <input type="text" name="brand" placeholder="Brand" required><br>
    <button type="submit">Add Vehicle</button>
</form>

</body>
</html>
